.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    width: 30%;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.links  li {
    list-style: none;
    padding: 0;
}

.contact-input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
}

.contact-input:focus {
    outline: none;
    border-color: #66afe9;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
}
